/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;

}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.5;
    background-color: #ffffff;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Specific styles for elements in your HTML code */
header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    padding: 10px;
}

main {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    header {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 5px 0;
    }

    #Me {
        width: 150px;
        height: 150px;
    }
}

/* Tablets and small desktop screens */
@media (min-width: 481px) and (max-width: 960px) {
    body {
        padding: 15px;
    }

    header {
        margin-bottom: 15px;
    }

    nav ul {
        justify-content: space-around;
    }

    #Me {
        width: 180px;
        height: 180px;
    }
}
#COPY
{
    text-align: center;
}

/* Larger desktop screens */
@media (min-width: 961px) {
    /* No additional modifications needed for larger screens */
}
